.form {
  padding: 16px 0;
}

.title {
  margin-top: 0;
  margin-bottom: 24px;
}

.subheading {
  font-weight: var(--fontWeightSemiBold);
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 14px;
}

.week {
  margin-bottom: 24px;
}

.saveButton {
  width: 100%;

  @media (--viewportMedium) {
    width: auto;
    min-width: 160px;
  }
}
